<div class="card p-4">
  <h3>Diplômes de l'employé</h3>

  <form [formGroup]="diplomeForm" (ngSubmit)="addOrUpdateDiplome()" class="form-group">
    <label for="libelle">Libellé :</label>
    <p-autoComplete 
  id="libelle"
  formControlName="libelle"
  [suggestions]="filteredDiplomes"
  (completeMethod)="filterDiplomes($event)"
  (onSelect)="onDiplomeSelect($event)"
  forceSelection="false"
  placeholder="Rechercher un diplôme ou en saisir un nouveau"
  field="libelle">
</p-autoComplete>



    <label for="typeDiplome">  Type de Diplôme : </label>
    <p-dropdown 
      id="typeDiplome"
      [options]="typeDiplomes" 
      optionLabel="libelleTypeDiplome"
      optionValue="id"
      formControlName="typeDiplomeId"
      placeholder="Sélectionner un type">
    </p-dropdown>

    <div class="button-group">
      <p-button 
        variant="text"
        [label]="isEditing ? 'Modifier' : 'Ajouter'" 
        [icon]="isEditing ? 'pi pi-check' : 'pi pi-plus'"
        [severity]="isEditing ? 'success' : 'primary'"
        type="submit"
        [style]="{'margin-top':'10px'}">
      </p-button>

      <p-button 
        variant="text"
        label="Annuler" 
        icon="pi pi-times" 
        severity="danger" 
        *ngIf="isEditing" 
        (click)="resetForm()" 
        class="p-ml-2">
      </p-button>
    </div>
  </form>

  <table class="p-datatable p-mt-4">
    <thead>
      <tr>
        <th>Libellé</th>
        <th>Type</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let diplome of diplomes">
        <td>{{ diplome.libelle }}</td>
        <td>{{ diplome.typeDiplome.libelleTypeDiplome }}</td>
        <td>
          <p-button 
            icon="pi pi-pencil" 
            severity="warn" 
            [rounded]="true" 
            [text]="true" 
            (click)="editDiplome(diplome)">
          </p-button>

          <p-button 
            icon="pi pi-trash" 
            severity="danger" 
            [rounded]="true" 
            [text]="true" 
            (click)="deleteDiplomeEmploye(diplome.id!)">
          </p-button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
